@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

.container {
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  flex: 1 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px !important;
}

@media (max-width: 768px) {
  .carousel-item {
    width: 100%;
  }

  .swiper-slide {
    width: 100%;
  }
}
